@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-image: -webkit-linear-gradient(136deg, rgb(149, 153, 226) 0%, rgb(139, 198, 236) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 100px 50px;
}

.table_box {
    overflow-x: scroll;
}

table {
    width: 100%;
}

th:nth-child(2) {
    width: 5%;
}

th {
    width: 10%;
    color: #4835d4;
    cursor: pointer;
    user-select: none;
    background: #fff;
    padding: 10px 10px;
}

td {
    font-size: 13px !important;
    border-left: 3px solid #fff;
    text-align: center;
    color: #fff;
    border-bottom: 3px solid #fff;
    cursor: pointer;
    transition: .2s;
    background: #4835d4;
    user-select: none;
    padding: 5px 10px;
}

td:nth-child(4) {
    word-break: break-all;
}

td:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
    transition: .2s;
}

tr td:nth-child(1) {
    border-left: 3px solid #fff;
}

tr td:nth-child(10) {
    border-right: 3px solid #fff;
}

tr td:nth-child(11) {
    border-bottom: none;
    border-left: none;
}

.fa-solid {
    font-size: 20px;
    padding: 5px;
}

.hidden {
    display: none !important;
}

.admin_login {
    width: 40%;
    background: #4835d4;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.admin_login input {
    width: 60%;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid #fff;
    color: #4835d4;
    transition: .2s;
}

.admin_login input:focus {
    outline: none;
    border: 2px solid #4835d4;
    transition: .2s;
}

.login_btn {
    width: 60%;
    margin-top: 50px;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #4835d4;
    transition: .2s;
    color: #4835d4;
}

.login_btn:active {
    border: 1px solid #fff;
    color: #fff;
    transition: .2s;
    background: transparent;
}

.invalid_id_pass {
    visibility: hidden;
}